@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,700;0,900;1,700;1,900&display=swap');

html, body {
    font-family: 'Montserrat', 'Roboto', sans-serif;
    font-size: 24px;
}

body {
    position: relative;
    margin: 0;
    padding: 0;
    height: 100vh;
}

    body::before {
        content: "";
        background: linear-gradient(to top, transparent 0%, rgba(255, 255, 255, 1) 60%), url(../images/Background.jpg) no-repeat center center fixed;
        background-size: cover;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
    }

h1:focus {
    outline: none;
}

a, .btn-link {
    color: #0071c1;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.page, main, .content {
    padding: 0;
    margin: 0;
}

.valid.modified:not([type=checkbox]) {
    outline: 1px solid #26b050;
}

.invalid {
    outline: 1px solid red;
}

.validation-message {
    color: red;
}

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

    #blazor-error-ui .dismiss {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
    }

.blazor-error-boundary {
    background: url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNTYiIGhlaWdodD0iNDkiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgeG1sbnM6eGxpbms9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGxpbmsiIG92ZXJmbG93PSJoaWRkZW4iPjxkZWZzPjxjbGlwUGF0aCBpZD0iY2xpcDAiPjxyZWN0IHg9IjIzNSIgeT0iNTEiIHdpZHRoPSI1NiIgaGVpZ2h0PSI0OSIvPjwvY2xpcFBhdGg+PC9kZWZzPjxnIGNsaXAtcGF0aD0idXJsKCNjbGlwMCkiIHRyYW5zZm9ybT0idHJhbnNsYXRlKC0yMzUgLTUxKSI+PHBhdGggZD0iTTI2My41MDYgNTFDMjY0LjcxNyA1MSAyNjUuODEzIDUxLjQ4MzcgMjY2LjYwNiA1Mi4yNjU4TDI2Ny4wNTIgNTIuNzk4NyAyNjcuNTM5IDUzLjYyODMgMjkwLjE4NSA5Mi4xODMxIDI5MC41NDUgOTIuNzk1IDI5MC42NTYgOTIuOTk2QzI5MC44NzcgOTMuNTEzIDI5MSA5NC4wODE1IDI5MSA5NC42NzgyIDI5MSA5Ny4wNjUxIDI4OS4wMzggOTkgMjg2LjYxNyA5OUwyNDAuMzgzIDk5QzIzNy45NjMgOTkgMjM2IDk3LjA2NTEgMjM2IDk0LjY3ODIgMjM2IDk0LjM3OTkgMjM2LjAzMSA5NC4wODg2IDIzNi4wODkgOTMuODA3MkwyMzYuMzM4IDkzLjAxNjIgMjM2Ljg1OCA5Mi4xMzE0IDI1OS40NzMgNTMuNjI5NCAyNTkuOTYxIDUyLjc5ODUgMjYwLjQwNyA1Mi4yNjU4QzI2MS4yIDUxLjQ4MzcgMjYyLjI5NiA1MSAyNjMuNTA2IDUxWk0yNjMuNTg2IDY2LjAxODNDMjYwLjczNyA2Ni4wMTgzIDI1OS4zMTMgNjcuMTI0NSAyNTkuMzEzIDY5LjMzNyAyNTkuMzEzIDY5LjYxMDIgMjU5LjMzMiA2OS44NjA4IDI1OS4zNzEgNzAuMDg4N0wyNjEuNzk1IDg0LjAxNjEgMjY1LjM4IDg0LjAxNjEgMjY3LjgyMSA2OS43NDc1QzI2Ny44NiA2OS43MzA5IDI2Ny44NzkgNjkuNTg3NyAyNjcuODc5IDY5LjMxNzkgMjY3Ljg3OSA2Ny4xMTgyIDI2Ni40NDggNjYuMDE4MyAyNjMuNTg2IDY2LjAxODNaTTI2My41NzYgODYuMDU0N0MyNjEuMDQ5IDg2LjA1NDcgMjU5Ljc4NiA4Ny4zMDA1IDI1OS43ODYgODkuNzkyMSAyNTkuNzg2IDkyLjI4MzcgMjYxLjA0OSA5My41Mjk1IDI2My41NzYgOTMuNTI5NSAyNjYuMTE2IDkzLjUyOTUgMjY3LjM4NyA5Mi4yODM3IDI2Ny4zODcgODkuNzkyMSAyNjcuMzg3IDg3LjMwMDUgMjY2LjExNiA4Ni4wNTQ3IDI2My41NzYgODYuMDU0N1oiIGZpbGw9IiNGRkU1MDAiIGZpbGwtcnVsZT0iZXZlbm9kZCIvPjwvZz48L3N2Zz4=) no-repeat 1rem/1.8rem, #b32121;
    padding: 1rem 1rem 1rem 3.7rem;
    color: white;
}
    .blazor-error-boundary::after {
        content: "An error has occurred."
    }

.dark {
    background-color: #18151f;
}

.cursor-pointer {
    cursor: pointer;
}

.maps-header {
    background-color: #F96302;
    color: #FFFFFF;
    text-shadow: 2px 2px black;
}
    .maps-header div {
        padding-top: 5px;
        display: flex;
        flex-direction: row;
    }

.maps-nav {
    background-color: #FFFFFF;
    color: #000000;
}
    .maps-nav div {
        border-left: 1px solid black;
        border-right: 1px solid black;
        border-top: 2px solid black;
        border-bottom: 2px solid black;
        padding: .2rem;
    }
    .maps-nav div:hover {
        background-color: #F96302;
        color: #ffffff;
    }

.weekly-video {
    width: 90%;
    height: 200%;
    max-width: 1300px;
    max-height: 800px;
    margin: .5rem 1rem;
    border: 5px outset #F96302;
    background-color: #18151f;
}

.daily-expectations {
    height: auto;
    margin: .5rem .5rem;
    padding-bottom: 1rem;
    background-color: #18151f;
    color: #FFFFFF;
    box-shadow: 5px 5px rgba(0, 0, 0, 0.3);
}
    .daily-expectations-bar {
        width: 200px;
        height: 10px;
        margin: 1rem auto;
        border-radius: 5px;
        background-color: #FFFFFF;
        transition: width 0.2s ease;
    }
        .daily-expectations:hover .daily-expectations-bar {
            width: 300px;
            background-color: #0076bd;
        }
    .daily-expectations h3 {
        font-size: 1.6rem;
    }
    .daily-expectations-titles:hover {
        cursor: pointer;
        color: #F96302;
        font-style: italic;
    }
    .daily-expectations-content {
        font-size: .8rem;
        width: auto;
        display: flex;
        flex-direction: column;
        margin: 0 1rem;
        font-family: 'Roboto', sans-serif;
        font-weight: 500;
    }

        .daily-expectations-content div {
            margin-top: 1rem;
            display: flex;
            align-items: baseline;
            text-align: left;
        }

            .daily-expectations-content div::before {
                content: '\2022';
                margin-right: 0.5rem;
            }

.create-form {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 100vh;
    margin-top: 4rem;
}

.form-group {
    margin-bottom: 1.5rem;
}

.create-form-label {
    display: block;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    font-style: italic;
    font-size: 1.1rem;
}

.create-form input,
.create-form textarea,
.create-form select {
    width: 100%;
    padding: 0.3rem;
    box-sizing: border-box;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
}

.create-form button {
    margin-top: 1.5rem;
}

/* CallFlow */

.call-types-header {
    margin-bottom: 1rem;
}

.parent-button,
.child-button,
.grandchild-button {
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    color: #FFFFFF;
}

.parent-button {
    background-color: #F96302;
    margin-bottom: 1rem;
}

.child-button {
    margin-left: 1.5rem;
    background-color: #CE5202;
    margin-bottom: .5rem;
}

.grandchild-button {
    margin-left: 3rem;
    background-color: #752E00;
    margin-bottom: .2rem;
}

a, a:hover {
    text-decoration: none;
    transition: color 0.3s ease-in-out;
}

#cardHeaderTitle {
    margin: 2rem 0;
    text-transform: uppercase;
    text-align: center;
    font-size: 2.5rem;
}

.postcard {
    flex-wrap: wrap;
    display: flex;
    flex-direction: row-reverse;

    box-shadow: 0 4px 21px -12px rgba(0, 0, 0, 0.66);
    border-radius: 10px;
    margin: 0 0 2rem 0;
    overflow: hidden;
    position: relative;
    color: #ffffff;
}
    .postcard a {
        color: inherit;
    }
    .postcard-title {
        font-size: 1.75rem;
    }
    .postcard-img {
        max-height: 180px;
        width: 100%;
        object-fit: cover;
        position: relative;
    }
    .postcard-img-link {
        display: contents;
    }
    .postcard-bar {
        width: 50px;
        height: 10px;
        margin: 10px 0;
        border-radius: 5px;
        background-color: #424242;
        transition: width 0.2s ease;
    }
    .postcard-text {
        padding: 1.5rem;
        position: relative;
        display: flex;
        flex-direction: column;
    }
    .postcard-preview-txt {
        overflow: hidden;
        text-overflow: ellipsis;
        text-align: justify;
        height: 100%;
    }
    .postcard:before {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-image: linear-gradient(-70def, #424242, transparent 50%);
        opacity: 1;
        border-radius: 10px;
    }
    .postcard:hover .postcard-bar {
        width: 100px;
    }

@media screen and (min-width: 769px) {
    .postcard {
        flex-wrap: inherit;   
    }
    .postcard-title {
        font-size: 2rem;
    }
    .postcard-img {
        max-width: 300px;
        max-height: 100%;
        transition: transform 0.3s ease;
    }
    .postcard-text {
        padding: 3rem;
        width: 100%;
    }
    .postcard:hover .postcard-img {
        transform: scale(1.1);
    }
}

.blue .postcard-title:hover {
    color: #0076bd;
}

.blue .postcard-bar {
    background-color: #0076bd;
}

.blue::before {
    background-image: linear-gradient(-30deg, rgba(0, 118, 189, 0.1), transparent 50%);
}

.blue:nth-child(2n)::before {
    background-image: linear-gradient(30deg, rgba(0, 118, 189, 0.1), transparent 50%);
}

/* FDC List */
.search-box {
    width: 500px;
    justify-content: flex-end;
}
.search-div {
    display: flex;
}

.fdc-card {
    display: flex;
    box-shadow: 5px 5px rgba(0, 0, 0, 0.4);
}

.fdc-card-bar {
    width: 150px;
    height: 10px;
    margin: 10px 0;
    border-radius: 5px;
    background-color: #FFFFFF;
    transition: width 0.2s ease;
}
    .fdc-card:hover .fdc-card-bar{
        width: 300px;
        background-color: #0076bd;
    }

.expand-checkbox {
    display: none;
}
    .expand-checkbox + label {
        padding: 0.375rem 0.75rem;
        font-size: 1rem;
        line-height: 1.5;
        color: #fff;
        background-color: #0076bd;
        border: 1px solid #0076bd;
        border-radius: 0.25rem;
        cursor: pointer;
    }
    .expand-checkbox:checked + label {
        background-color: #0056b3;
        border-color: #0056b3;
    }

.expand-content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-out;
}

.expand-checkbox:checked + label + .expand-content {
    max-height: 100vh;
    transition: max-height 0.5s ease-in;
}

/* Templates */
.template-body {
    margin-top: 1rem;
    margin-bottom: 1rem;
    margin-left: 2rem;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 20px;
    box-shadow: 8px 10px rgba(0, 0, 0, 0.6);
}
    .template-body:hover .template-bar {
        background-color: #0076bd;
        width: 450px;
    }

    .template-body:hover .copy-clipboard {
        color: #F96302;
    }
    .template-body:hover .template-contents-note {
        color: #F96302;
    }

.template-title {
    font-size: 2rem;
    margin: .3rem .8rem;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    display: flex;
    justify-content: space-between;
}

.copy-clipboard {
    margin-top: .3rem;
    align-items: center;
}

.clipboard-small {
    font-size: 1rem;
}

.template-bar {
    width: 300px;
    height: 8px;
    margin: 10px .5rem;
    border-radius: 5px;
    background-color: #FFFFFF;
    transition: width 0.2s ease;
}

.template-contents {
    display: flex;
    justify-content: space-between;
}
    .template-contents-body {
        margin: 1.5rem 1rem;
        max-width: 1100px;
    }
    .template-contents-note {
        align-self: flex-end;
    }


/* KB Articles */
.kb-table {
    width: 98%;
    margin: 2rem auto;
    box-shadow: 5px 5px rgba(0, 0, 0, .7);
}
    .kb-table-data:hover {
        color: #F96302;
    }

.kb-table-headers {
    background-color: #18151f;
    color: #FFFFFF;
    text-decoration: underline;
    font-weight: 700;
    font-style: italic;
    font-family: 'Roboto', sans-serif;
    font-size: 1.3rem;
}

.table-bordered > tbody > tr:nth-of-type(even) {
    background-color: #18151f;
    color: #FFFFFF;
}

.table-bordered > tbody > tr:nth-of-type(odd) {
    background-color: #FFFFFF;
    color: #18151f;
}
